@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.active{
  color: purple;
}